:root{
  --light-grey:#555;
  --dark-grey: #333333;
  --border-grey: #CFCFCF;
}
*{
  font-family: Roboto;
  box-sizing: border-box;
}
body{
  background-color: blue;
  height: 500px;
}
.menu{
  margin:0 auto;
  width: 70rem;
  background: #F7F6F5;
  border-top:1px solid var(--border-grey);
  }
  .menu__main {
    margin: 0 auto;
    width: 90%;
  }
.menu__main__item{
  display: inline-block;
  padding:0.5rem 2rem;
  border-bottom: 1px solid var(--border-grey);
}
.menu__main__item:hover{

  background:white;
  margin : 0 -1px;
  border-right: 1px solid #CFCFCF;
  border-left: 1px solid #CFCFCF;
  border-bottom: none;

}
.menu__main__item--current .menu__main__item__link{
  color: var(--dark-grey);
  border-bottom:3px solid black;
  padding-bottom: 0.2rem;
}

.menu__main__item__link{
  text-decoration: none;
  font-family: Roboto;
  font-weight: 800;
  color:var(--light-grey);
  font-size: 0.9rem;
}

.menu__main__item__link:hover{
  text-decoration: underline;
  color: #1C60BB;
}

.menu__main__item:first-child:hover{
  border-left: none;
  margin-left: 0;
}
.menu__main__item:last-child:hover{
  border-right: none;
  margin-right:0;
}
.menu__sub {
  height: 18rem;
  background-color: white;
}
.menu__sub__categories {
  vertical-align: top;
  display: inline-block;
  width: calc(40% - 1rem - 2px);
  padding: 0.5rem;
  margin-left: 1rem;
}
.menu__sub__visual {
  display: inline-block;
  width: calc(60% - 2px);
  padding: 0.5rem;
  height: 100%;
}
.menu__sub__visual__img {
  width: 100%;
  height: 100%;
}

.menu__sub__categories__category {
  display: inline-block;
  width: calc(50% - 2px);
  vertical-align: top;
}
.menu__sub__categories__header {
  font-size: 0.9rem;
  border-bottom: 1px solid var(--border-grey);
  margin-right: 1rem;
  padding-bottom: 1rem;
}
.menu__sub__categories__items{
  list-style: none;
  padding: 0;
  line-height: 1.6rem;
  color: var(--light-grey);
}
.menu__sub__categories__item__link {
  text-decoration: none;
  color: var(--light-grey);
  font-size: 0.8rem;
  font-weight: 800;
}
.menu__sub__categories__item__link:hover{
  text-decoration: underline;


}
